@page
@model ExamenPracticoDS39.Pages.Product.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Products</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Products.ProductId" />
            <div class="form-group">
                <label asp-for="Products.ProductName" class="control-label"></label>
                <input asp-for="Products.ProductName" class="form-control" />
                <span asp-validation-for="Products.ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Products.QuantityPerUnit" class="control-label"></label>
                <input asp-for="Products.QuantityPerUnit" class="form-control" />
                <span asp-validation-for="Products.QuantityPerUnit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Products.UnitPrice" class="control-label"></label>
                <input asp-for="Products.UnitPrice" class="form-control" />
                <span asp-validation-for="Products.UnitPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Products.UnitInStock" class="control-label"></label>
                <input asp-for="Products.UnitInStock" class="form-control" />
                <span asp-validation-for="Products.UnitInStock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Products.UnitsOnOrder" class="control-label"></label>
                <input asp-for="Products.UnitsOnOrder" class="form-control" />
                <span asp-validation-for="Products.UnitsOnOrder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Products.ReorderLevel" class="control-label"></label>
                <input asp-for="Products.ReorderLevel" class="form-control" />
                <span asp-validation-for="Products.ReorderLevel" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Products.Discontinued" /> @Html.DisplayNameFor(model => model.Products.Discontinued)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
